{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='stylesheet' href="{% static 'blog/styles.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Blog{% endblock %}</title>
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <form action="{% url 'blog:home' %}" method="get">
          <button type="submit" class="nav-button" id="home-href">Home</button>
        </form>
        <form action="{% url 'blog:create_post' %}" method="get">
          <button type="submit" class="nav-button" id="create-post-href">Create Post</button>
        </form>

        {% if user.is_authenticated %}
        <form action="{% url 'blog:logout' %}" method="get">
          <button type="submit" class="nav-button" id="logout-href">Logout</button>
        </form>
        {% else %}
        <form action="{% url 'blog:login' %}" method="get">
          <button type="submit" class="nav-button" id="login-href">Login</button>
        </form>
        <form action="{% url 'blog:signup' %}" method="get">
          <button type="submit" class="nav-button" id="sign-up-href">Sign Up</button>
        </form>
        {% endif %}
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2025 blog project</p>
    </footer>
  </div>
</body>

</html>
