{% extends 'base_generic.html' %}

{% block content %}
<h1>All Posts</h1>
{% for post in posts %}
    <div class="posts">
        <div class="post-preview">
            <h2>
                <a href="{% url 'blog:post_detail' post.id %}" class="post-link">{{ post.title }}</a>
            </h2>
            <p><small>Posted on {{ post.created_at }}</small></p>
        </div>
    </div>
{% endfor %}

<div class="welcome">
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}</p>
        <form action="{% url 'blog:logout' %}" method="get">
            <button type="submit" class="nav-button">Logout</button>
        </form>
    {% else %}
        <p>
            <form action="{% url 'blog:signup' %}" method="get">
                <button type="submit" class="nav-button">Signup</button>
            </form>
            <form action="{% url 'blog:login' %}" method="get">
                <button type="submit" class="nav-button">Login</button>
            </form>
        </p>
    {% endif %}
</div>

<div class="create_post">
    <form action="{% url 'blog:create_post' %}" method="get">
        <button type="submit" id="create-post-href" class="btn-create">Create New Post</button>
    </form>
</div>
{% endblock %}

